<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myit.scm.dao.CarsDao">
    <resultMap type="Cars" id="carsResultMap">
        <id property="carId" column="car_id"/>
        <result property="carPrice" column="car_price"/>
        <result property="carInstruction" column="car_instruction"/>
        <result property="carAmount" column="car_amount"/>
        <result property="carBrand" column="car_brand"/>
        <result property="carUrl" column="car_url"/>
        <result property="carDate" column="car_date"/>
    </resultMap>
    
    <!-- 通过车品牌来模糊查询 -->
    <select id="selectAllOrOne" parameterType="java.lang.String" resultMap="carsResultMap">
        select * from cars
            where car_brand like #{_parameter} 
    </select>
    
    <!-- 通过车Id来条件查询 -->
    <select id="selectOneById" parameterType="Integer" resultMap="carsResultMap">
        select * from cars where car_id = #{_parameter}
    </select>
    
    <!-- 通过车id跟车品牌来更新数量 -->
    <update id="updateAmountByIdAndBrand" parameterType="Cars">
        update cars set car_amount = #{carAmount} where car_id =#{carId} and car_brand=#{carBrand}
    </update> 
    
    <!-- 查询所有汽车 -->
    <select id="selectAllCars" resultMap="carsResultMap">
    	select * from cars
    </select>
    
    <!-- 添加车辆 -->
    <insert id="addCar" parameterType="Cars">
    insert into cars(car_price,car_instruction,car_amount,car_brand,car_date) values (#{carPrice},#{carInstruction},#{carAmount},#{carBrand},#{carDate})
    </insert>
    
    <!-- 通过汽车carid来更新信息 -->
    <update id="updateCarById" parameterType="Cars">
    	update cars set
    	car_price = #{carPrice},car_instruction =#{carInstruction},car_amount=#{carAmount},car_url=#{carUrl},car_date=#{carDate}
    	where car_id =#{carId}
    </update>
    
    <!-- 根据汽车carId和汽车carBrand删除车辆 -->
    <delete id="deleteCarByIdAndBrand">
    	delete from cars where car_id =#{arg0} and car_brand=#{arg1}
    </delete>
</mapper>